/*Styles généraux */

body {
  font-family: 'Raleway', sans-serif;
  width: 80%;
  font-size: 1rem;
  margin: 0 auto;
}

/** Styles Filtres **/



/** Styles Hébergements à Marseilles **/

.hebergements-marseille{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-hebergement{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.containeur-populaires{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 25px;
}

.containeur-populaires article{
  margin-bottom: 20px;
}

.populaires{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.titre{
  font-size: 0.9em;
  position: relative;
  left: 30px;
}

main div{
  margin: 0;
}

.fa-chart-line{
  position: relative;
  right: 25px;
  top: 5px;
}

.hebergements-marseille figure{
  margin: 0;
}

.la-cannebiere img, .hotel-du-port img, .les-mouettes img{
  height: 5em;
  border-radius: 1.25em 1.25em 0em 0em ;
}
.de-la-mer img, .chez-amina img, .le-panier img{
  height: 5em;
  border-radius: 1.25em 1.25em 0em 0em;
}

.sec-gauche img {
  width: 9em;
}

.sec-gauche{
  flex-basis: 62%;
  background-color: #f2f2f2;
  border-radius: 1.25em;
  flex-grow: 0;
  flex-shrink: 0;
}

.sec-gauche article{
  margin: 0.325em 0.625em;
}

.sec-gauche{
  margin-right: 20px;
}

.sec-droite{
  flex-basis: 36%;
  background-color: #f2f2f2;
  border-radius: 0.93em;
}

.sec-droite img{
  height: 6.18em;
  width: 6.5em;
  border-radius: 0.625em 0em 0em 0.625em;
  margin-right: 1.25em;
}

.sec-droite article{
  margin: 12px;
}

.hebergements-marseille article a{
  text-decoration: none;
}

figcaption p{
  line-height: 8px;
  margin-top: 5px;
  color: #000;
  font-size: 0.7em;
}

.hebergement{
  border: 0.31em solid #FFF;
  border-radius: 1.25em;
  background-color: #FFF;
  height: 9.93em;
  width: auto;
}

.titre-populaires{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.populaires figcaption p{
  line-height: 0.93;
}

.heberg{
  border: 0.313em solid #FFF;
  border-radius: 1.25em;
  width: 15em;
  padding: 2px;

  background-color: #FFF;
}

.populaires figcaption p{
  line-height: 15px;
}

figcaption p{
  line-height: 8px;
  margin-top: 5px;
  color: #000;
}

figcaption p:nth-child(1){
  font-weight: bold;
  color: #000;
}

.heberg figcaption p{
  line-height: 20px;
}

.fig{
  position: relative;
  top: 10px;
}

.fas{
  color: #0065FC;
  font-size: 12px;
}

.etoiles-la-cannebiere :nth-child(5), .etoiles-les-mouettes :nth-child(5), .le-panier :nth-child(5){
  color:#F2F2F2;
}

.etoiles-de-la-mer :nth-child(4), .etoiles-de-la-mer :nth-child(5){
  color:#F2F2F2;
}

.chambres-hote :nth-child(5), .bleu-blanc :nth-child(5){
  color: #f2f2f2;
}

.afficher{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  position: relative;
  top: 10px;
}


/** Styles Activités Marseilles **/


.vieux-port img, .calanques img{
  width: 10.93em;
  height: 15em;
  border-radius: 10px;
}

.haut img, .bas img{
  width: 260px;
  height: 110px ;
  border-radius: 10px;
  margin: 0px;
}

.range{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.range figure{
  margin: 0px;
}


.activite-mar p{
  font-size: 0.6em;
}

.activites a{
  text-decoration: none;
}

.activites .haut{
  margin-bottom: 45px;
}

.haut figcaption p, .bas figcaption p{
  margin-left: 8px;
}

.card1{
  border:1px solid #FFF;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);
}

.card2{
  border:1px solid #FFF;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);

}






/** Styles Footer **/

.sec-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec-footer div {
  width: 33.33%;
}

footer{
  background-color: #f2f2f2;
  margin-top: 50px;
}

footer h4{
  margin-left: 2.7em;
  font-size: 0.8em;
}

footer li{
  line-height: 30px;
  list-style-type: none;
}



/** Styles  @media screen **/



/** Styles Activités à Marseille @media screen **/

@media screen and (max-width: 678px){

  body{
    margin: 0 auto;
  }
  .cont-activites-marseille{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .range{
    display: block;
  }

  .range img{
    min-width: 15em;
    flex-grow: 1;
  }
}







/** Styles Footer @media screen  **/

@media screen and (max-width: 678px) {

  body{
    margin: 0 auto;
  }

  footer{
    min-width: 20em;
    margin: 0;
  }

  footer h4{
  margin-left: 0;
  font-size: 0.8em;
}

footer ul{
 position: relative;
 right: 40px;
}


  .sec-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .sec-footer div {
    width: 100%;
    margin-left: 40px;
  }


}





